{% extends "layout.html" %}

{% block body %}
<p>
</p>

<!––<iframe src="https://docs.google.com/document/d/1lyah8VU8WGTzdGY8jSkspuNqMg84_-YkossdQlkUoHM/edit" width="1200" height="1200"></iframe>

<p align="right">
<b>Team Members:</b>
<br>
glorious-pony
<br>
traditional-limes
<br>
thankful-lion
<br>
curious-ox
</p>
<br>

<p align="center">
<b>Eventbrite Clone Golden Meadow Team</b>
<br>
<b>Project Status Report</b>
<br>
<b>Dec 5, 2018</b>
<br>
</p>
<p> 
<b><u>Burn Down Chart:</u></b>
<br>
<br>
<a href="https://imgur.com/TaPBTKL"><img src="https://imgur.com/a/bei9qzz" width="700" height="400" title="source: imgur.com" /></a></p>
<p>
<b><u>Sprint 4 Completed Stories:</u></b>
<ul>
  <li> Saving details of new event and populating them on new page (3 points)</li>
  <li> Learn about event management platform (1 point)</li>
  <li> Register for an event (4 points)</li>
  <li> View event attendees list (2 points)</li>
  <li> Navigate to home page from any page (2 points)</li>
  <li> Style event page using bootstrap (2 points) </li>
  <li> Create a form to record user input (6 points) </li>
  <li> About Us page (4 points) </li>
  <li> Server side validation for forms (4 points)</li>

</ul>
</p>
<p>
During the week, Nikhil and Aly worked on developing the code for the Sprint 4 user stories, while Shikha and Vinay took on the responsibility of testing the functionality and pushing the code live to the Heroku web application. Shikha worked on the development of the bootstrap.
Vinay served as product owner for Sprint 4 and saw through the completion of tasks for the Sprint, and ensured general adherence to scrum methodology. We had created six new user stories in the last sprint of which we could complete five. 
<p>
<br>
We have one story remaining as a backlog where we’re trying redirect the flow to a new event after event creation. Our tester evaluated the functionality and determined that the items addressed in the tasks above appeared and functioned as intended. Following the completion of the tester’s work, the product owner carried out a final review of the sprint tasks and backlog to ensure accuracy.

</p>

<b><u>Product Backlog (by priority):</b></u>

<ol type="1">
  <li>&nbsp Redirect to a new event after event creation (2 points) </li>

</ol>

During the next sprint, we hope to accomplish all the 3 backlog items listed above and here our main focus would be on #1 and #2 because that again ties back to storing and working on the captured data for people registering for events (for a total of about 8 story points). Our product owner will do another sanity check to ensure that our user stories will comprehensively meet the project requirements and ensure that we are on track to complete the body of work by Sprint #4.  We will also have a mid-week check to understand if the portal would be ready to meet all the requirements by Sprint 4. 
<br>
If not, we will decide if need to add and accomplish any new stories. The team has once again taken into account the amount of effort needed in terms of building the logic and functionality in assigning points to each of the above.

</p>
<br><br><br><br>


{% endblock %}

{% block late_loading_js %}
<script src="/static/js/catgifs.js"></script>
{% endblock %}