{% extends "layout.html" %}

{% block body %}
<p>
</p>

<!––<iframe src="https://docs.google.com/document/d/1lyah8VU8WGTzdGY8jSkspuNqMg84_-YkossdQlkUoHM/edit" width="1200" height="1200"></iframe>

<p align="right">
<b>Team Members:</b>
<br>
glorious-pony
<br>
traditional-limes
<br>
thankful-lion
<br>
curious-ox
</p>
<br>

<p align="center">
<b>Eventbrite Clone Golden Meadow Team</b>
<br>
<b>Project Status Report</b>
<br>
<b>Dec 5, 2018</b>
<br>
</p>
<p> 
<b><u>Burn Down Chart:</u></b>
<br>
<br>
<a href="https://imgur.com/9KULx25"><img src="https://imgur.com/9KULx25.png" width="700" height="400" title="source: imgur.com" /></a></p>
<p>
<b><u>Sprint 4 Completed Stories:</u></b>
<ul>
  <li> Saving details of new event and populating them on new page (3 points)</li>
  <li> Learn about event management platform (1 point)</li>
  <li> Register for an event (4 points)</li>
  <li> View event attendees list (2 points)</li>
  <li> Navigate to home page from any page (2 points)</li>
  <li> Style event page using bootstrap (2 points) </li>
  <li> Create a form to record user input (6 points) </li>
  <li> About Us page (4 points) </li>
  <li> Server side validation for forms (4 points)</li>

</ul>
</p>
<p>
During the week, Nikhil and Aly worked on developing the code for the Sprint 4 user stories, while Shikha and Vinay took on the responsibility of testing the functionality and pushing the code live to the Heroku web application. Shikha worked on the development of the bootstrap.
Vinay served as product owner for Sprint 4 and saw through the completion of tasks for the sprint, and ensured general adherence to scrum methodology. We added six new user stories during this sprint, five of which we completed.
We anticipate having one user outstanding as of December 6th, which we plan to complete prior to the final submission on December 14th. 
<p>
We tested and evaluated the functionality of the latest feature additions and determined that the items addressed in the tasks above appeared and functioned as intended. Following the completion of testing, the product owner carried out a final review of the sprint tasks and backlog to ensure accuracy.

</p>

<b><u>Product Backlog (by priority):</b></u>

<ol type="1">
  <li>&nbsp Ensuring that website complies with testing code (4 points) </li>

</ol>

</p>
<br><br><br><br>


{% endblock %}

{% block late_loading_js %}
<script src="/static/js/catgifs.js"></script>
{% endblock %}