{% extends "layout.html" %}

{% block body %}
<p>
</p>

<!––<iframe src="https://docs.google.com/document/d/1lyah8VU8WGTzdGY8jSkspuNqMg84_-YkossdQlkUoHM/edit" width="1200" height="1200"></iframe>

<p align="right">
<b>Team Members:</b>
<br>
glorious-pony
<br>
traditional-limes
<br>
thankful-lion
<br>
curious-ox
</p>
<br>

<p align="center">
<b>Eventbrite Clone Golden Meadow Team</b>
<br>
<b>Project Status Report</b>
<br>
<b>Nov 9, 2018</b>
<br>
</p>
<p> 
<b><u>Burn Down Chart:</u></b>
<br>
<br>
<a href="https://imgur.com/TaPBTKL"><img src="https://i.imgur.com/TaPBTKL.png" width="700" height="400" title="source: imgur.com" /></a></p>
<p>
<b><u>Sprint 2 Completed Stories:</u></b>
<ul>
  <li>Create a page displaying all events (3 points)</li>
  <li>Link "Create event" page submit button to page displaying all events (1 point)</li>
</ul>
</p>
<p>
During the week, Nikhil and Aly worked on developing the code for the Sprint 2 user stories, 
while Shikha and Vinay took on the responsibility of testing the functionality and pushing the 
code live to the Heroku web application. 
<br>
<p>
Aly served as product owner for Sprint 2 and saw through the completion of 
tasks for the Sprint, and ensured general adherence to scrum methodology. 
We plan to continue our cadence of rotating responsibilities as we move forward to the remaining sprints.

We had a small glitch in the middle of the sprint, when one of our developers was found to be working on a different repository than our shared repository, but he was quick to correct it by receiving a fresh invite from Professor Kyle and committing his code onto our shared Github repository. 

The team made a mid-sprint adjustment and deciding to move the final task above (saving details and having them populate new page) to the next sprint given its larger than expected time commitment. 

Our tester evaluated the functionality and determined that the items addressed in the tasks above appeared and functioned as intended. Following the completion of the tester’s work, the product owner carried out a final review of the sprint tasks and backlog to ensure accuracy. 
</p>

<b><u>Product Backlog (by priority):</b></u>

<ol type="1">
  <li>&nbsp Saving details of new event and populating them on new page (3 points)</li>
  <li>&nbsp Register for an event (4 points)</li>
  <li>&nbsp View event attendees list (2 points)</li>
  <li>&nbsp Learn about event management platform (1 point)</li>
  <li>&nbsp Navigate to home page from any page (2 points)</li>
</ol>

During the next sprint, we hope to accomplish backlog item #1 and part of #2 (for a total of about 4 story points). 
Our product owner will do another sanity check to ensure that our user stories will comprehensively meet
the project requirements and ensure that we are on track to complete the body of work by Sprint #4. 
As previously noted, some of the user stories laid out above 
(e.g. registering for an event, viewing attendees list, etc.) are actually comprised of smaller chunks of work.
The team took into account the full expected level of effort when assigning points to each story in the backlog. 

</p>
<br><br><br><br>


{% endblock %}

{% block late_loading_js %}
<script src="/static/js/catgifs.js"></script>
{% endblock %}